.navigation {
  display: flex;
  align-items: flex-start;
}

.navigation__list {
  @include ul-none();
  @include row(30px, 30px, 30px, 26px, 26px);
}

.navigation__item {
  flex-basis: auto;
  padding: 8.5px 13px;

  @media (max-width: $screen-xl - 1) {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #DFE2ED;
  }
}

.navigation__link {
  display: inline-block;
  text-decoration: none;
  color: $text-color;
  font-weight: 600;

  .burger {
    margin-right: 15px;
  }

  &:hover {
    color: $color-main;

    //.burger {
    //  color: $color-main;
    //}
  }

  @media (max-width: $screen-xl - 1) {
    position: relative;
    padding: 16px 15px;
    width: 100%;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $text-color;
    background-color: $white;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      width: 7px;
      height: 7px;
      transform: rotate(-45deg) translateY(-50%);
      border-right: 1px solid #242d43;
      border-bottom: 1px solid #242d43;
      transition: .3s;
    }
  }
}

.navigation__burger-sub {
  flex-shrink: 0;
  margin-top: 12px;
  margin-right: 22px;

  &:hover {
    color: $color-main2;
  }
}
