// Style plagin
@import "variables";

// My style

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/companents/page/page";
@import "../blocks/companents/btn/btn";
@import "../blocks/companents/container/container";
@import "../blocks/companents/logo/logo";
@import "../blocks/companents/field-text/field-text";
@import "../blocks/companents/title-h/title-h";
@import "../blocks/companents/burger/burger";
@import "../blocks/companents/breadcrumbs/breadcrumbs";
@import "../blocks/companents/tabs/tabs";
@import "../blocks/companents/table/table";
@import "../blocks/companents/display/display";
@import "../blocks/companents/close/close";
@import "../blocks/companents/dropdown/dropdown";
@import "../blocks/companents/field-checkbox/field-checkbox";
@import "../blocks/companents/field-num/field-num";
@import "../blocks/companents/baron/baron";
@import "../blocks/companents/modal/modal";

@import "../blocks/project/swiper/swiper";
@import "../blocks/project/to-top/to-top";
@import "../blocks/project/tab-filter/tab-filter";
@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/order-page/order-page";
@import "../blocks/project/content/content";
@import "../blocks/project/company/company";
@import "../blocks/project/preview/preview";
@import "../blocks/project/product/product";
@import "../blocks/project/navigation/navigation";
@import "../blocks/project/n-article/n-article";
@import "../blocks/project/main-banner/main-banner";
@import "../blocks/project/category/category";
@import "../blocks/project/product-card/product-card";
@import "../blocks/project/product-preview/product-preview";
@import "../blocks/project/phone/phone";
@import "../blocks/project/basket/basket";
@import "../blocks/project/mb-menu/mb-menu";
@import "../blocks/project/filter/filter";
@import "../blocks/project/filter-block/filter-block";
@import "../blocks/project/sort/sort";
@import "../blocks/project/range/range";
@import "../blocks/project/add-basket/add-basket";
@import "../blocks/project/catalog/catalog";
@import "../blocks/project/product-list/product-list";
@import "../blocks/project/mb-product/mb-product";
@import "../blocks/project/curtain/curtain";
@import "../blocks/project/user/user";
@import "../blocks/project/compare/compare";
@import "../blocks/project/drop/drop";
@import "../blocks/project/drop-basket/drop-basket";
@import "../blocks/project/num-prod/num-prod";
@import "../blocks/project/advantage/advantage";
@import "../blocks/project/book/book";
@import "../blocks/project/category-link/category-link";
@import "../blocks/project/inner-scroll/inner-scroll";
@import "../blocks/project/footer-nav/footer-nav";
@import "../blocks/project/about/about";
@import "../blocks/project/review/review";
@import "../blocks/project/card-tab/card-tab";
@import "../blocks/project/figure-content/figure-content";
@import "../blocks/project/filter-group/filter-group";
@import "../blocks/project/sert/sert";
@import "../blocks/project/table-char/table-char";

.overflow {
  overflow: hidden;
}

.sidebar {
  margin-bottom: 40px;
}

.sidebar--top {
  @media (min-width: $screen-xl) {
    padding-top: 33px;
  }
}

.fancybox-active {
  @media (max-width: $screen-xl - 1) {
    overflow: hidden;
  }
}

.text-danger {
  color: $color-danger;
}

.text-main {
  color: $color-main;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-success;
}

.title-line {
  display: flex;
  align-items: center;
  margin-bottom: 34px;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    margin-left: 17px;
    background-color: #DFE2ED;
  }
}

.title-line__line {
  flex-shrink: 0;
}

.icon-btn {
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  margin-left: 23px;
  cursor: pointer;

  svg {
    fill: $color-warning;
  }
}

.icon-btn__quan {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  border-radius: 50px;
  background-color: $color-main;
}

.count-hide .content__col:nth-child(n+9) {
  display: none;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  color: rgba($white, 0.5);
  margin-bottom: 28px;

  @media (min-width: $screen-xl) {
    max-width: 260px;
  }
}
