mixin product-preview(num)
  .product-preview
    +num-prod().d-none
    span.product-preview__number= num
    .product-preview__img
      img(src="img/content/product-1.png", alt="Изображение")
      span.product-preview__blur(style="background-image: url('img/content/product-1.png')")
    .product-preview__wrap-hide
      strong.product-preview__price 905 ₽/#[sub упак.]
      .product-preview__quantity-group
        strong.product-preview__quantity-text В наличии:
        span.text-success Много
      .add-basket
        form.add-basket__row.add-basket__row--column
          +field-num({
              mods: '',
              attrs: {
                  name: 'quantity',
                  max: '1000',
                  min: '0',
                  step: '1',
              }
          }).add-basket__num
          button.btn.btn--main.btn--r-middle.js-basket В корзину
