mixin product(category, basket)
  article.product
    +num-prod().d-none
    .product__row
      a.product__picture(href=`${category === true ? "catalog-single.html" : "catalog-single2.html"}` data-label="img/content/product-1.png")
        img(src="img/content/product-1.png", alt="Show punto batİk design")
        span.product__blur(style="background-image: url('img/content/product-1.png')")
      .product__content
        a.product__wrap-link(href=`${category === true ? "catalog-single.html" : "catalog-single2.html"}`)
          h3.product__title Show punto batİk design
          .product__desc.d-none.d-xl-block
            p Краткое описание товара размером в одну, две, или три строки, а можно и без него, если не влазит – то многотичие...
          ul.product__char-list.d-none.d-xl-block
            li.product__char-item #[strong Цена за:] 1 упаковку
            li.product__char-item #[strong В упаковке:] 4 мотка
            li.product__char-item #[strong Моток:] 100 гр — 350 м
            li.product__char-item #[strong Состав:] 100% Акрил (антипиллинг акрил)
            li.product__char-item #[strong В наличии:] #[span.text-success Много]
            if(category === true)
              li.product__char-item #[strong Кол-во подвидов:] #[span 10]
          strong.product__price 905 ₽/#[sub упак.]
        .add-basket
          if(category === true)
            a.btn.btn--main.btn--r-middle(href="#modal-category" data-fancybox="") Выбрать
          else
            form.add-basket__row
              +field-num({
                  mods: '',
                  attrs: {
                      name: 'quantity',
                      max: '1000',
                      min: '0',
                      step: '1',
                  }
              }).add-basket__num
              button.btn.btn--main.btn--r-middle.js-basket В корзину
