mixin content-sert()
  .content&attributes(attributes)
    .container
      .company
        header.content__header.company__header
          h2.title-h.content__mb-mini Сертификаты соответствия
          p.content__subtitle Жесткий контроль качества согласно ГОСТу и ТУ
        .swiper-container.company__slider.js-slider-sert
          .swiper-wrapper
            .swiper-slide
              a.sert(href="img/content/sert-1.jpg", data-fancybox="")
                img(src="img/content/sert-1.jpg", alt="Сертификат")
            .swiper-slide
              a.sert(href="img/content/sert-2.jpg", data-fancybox="")
                img(src="img/content/sert-2.jpg", alt="Сертификат")
            .swiper-slide
              a.sert(href="img/content/sert-3.jpg", data-fancybox="")
                img(src="img/content/sert-3.jpg", alt="Сертификат")
          button.swiper-button-circle.swiper-button-circle--prev(type="button")
            svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
          button.swiper-button-circle.swiper-button-circle--next(type="button")
            svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
