include ../blocks/companents/logo/logo.pug
include ../blocks/companents/field-text/field-text.pug
include ../blocks/companents/field-checkbox/field-checkbox.pug
include ../blocks/companents/field-select/field-select.pug
include ../blocks/companents/burger/burger.pug
include ../blocks/companents/breadcrumbs/breadcrumbs.pug
include ../blocks/companents/tabs/tabs.pug
include ../blocks/companents/table/table.pug
include ../blocks/companents/dropdown/dropdown.pug
include ../blocks/companents/modal/modal.pug
include ../blocks/companents/field-num/field-num.pug

include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug
include ../blocks/project/to-top/to-top.pug
include ../blocks/project/preview/preview.pug
include ../blocks/project/product/product.pug
include ../blocks/project/main-banner/main-banner.pug
include ../blocks/project/category/category.pug
include ../blocks/project/category/category-variety.pug
include ../blocks/project/tab-filter/tab-filter.pug
include ../blocks/project/js-category/js-category.pug
include ../blocks/project/product-preview/product-preview.pug
include ../blocks/project/phone/phone.pug
include ../blocks/project/mb-menu/mb-menu.pug
include ../blocks/project/mb-menu/mb-menu-catalog.pug
include ../blocks/project/mb-menu/mb-menu-subcatalog.pug
include ../blocks/project/mb-menu/menu-phone.pug
include ../blocks/project/mb-product/mb-product.pug
include ../blocks/project/num-prod/num-prod.pug
include ../blocks/project/advantage/advantage.pug
include ../blocks/project/book/book.pug
include ../blocks/project/category-link/category-link.pug
include ../blocks/project/footer-nav/footer-nav.pug
include ../blocks/project/review/review.pug
include ../blocks/project/content/content-sert.pug
include ../blocks/project/figure-content/figure-content.pug
