.phone {
  position: relative;
  display: inline-block;
  color: $white;

  &:hover .phone__wrap--arrow::after {
    transform: rotate(-135deg);
  }

  &:hover .phone__list {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
}

.phone__wrap {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 5px 14px;
  text-align: right;

  @media (min-width: $screen-xl) {
    padding: 10px 13px 10px 13px;
  }

  @media (min-width: $screen-xl) {
    &--pd {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &:last-of-type {
    border-bottom: 0;
  }

  @media (min-width: $screen-xl) {
    border-bottom: 1px solid #DFE2ED;

    &--arrow {
      //padding-right: 25px;
      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 0px;
        width: 5px;
        height: 5px;
        transition: $time;
        transform: rotate(45deg);
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;
      }
    }
  }

  &--white {
    @media (min-width: $screen-xl) {
      &::after {
        border-color: $white;
      }
    }

    .phone__number {
      color: $white;
    }

    .phone__text {
      color: rgba($white, 0.5);
    }
  }
}

.phone__text {
  display: block;
  //color: #3A426D;
  opacity: 0.5;
  font-size: 11px;
  line-height: 13px;
  margin-top: 3px;

  @media (min-width: $screen-xl) {
    font-size: 12px;
    line-height: 14px;
  }
}

.phone__list {
  margin-bottom: 9px;
  color: $text-color;

  @media (min-width: $screen-xl) {
    position: absolute;
    top: 43px;
    right: 0;
    background-color: $white;
    box-shadow: 0px 4px 25px rgba(86, 109, 251, 0.07);
    border-radius: 5px;
    margin-bottom: 0;

    transition: $time;
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    min-width: 169px;
  }
}

.phone__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  fill: #FBD826;
}

.phone__number {
  //color: $text-color;
  line-height: 24px;

  //@media (max-width: $screen-xl - 1) {
  //  font-size: 14px;
  //}
}
