// В этом файле должны быть стили для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.menu {

  $block-name:                &; // #{$block-name}__element

  min-width: 10em;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 10px 10px 14px rgba(210,215,227,.45), -10px -10px 12px rgba(255,255,255,.25);

  &__item {

    &--separator {

      &:not(:last-child) {
        padding-bottom: 0.3rem;
        margin-bottom: 0.3rem;
        border-bottom: 1px solid $border-color;
      }
    }
  }

  &__link {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 1rem;
    color: $text-color;
    text-decoration: none;

    @media (min-width: $screen-xl) {
      font-size: 14px;
      line-height: 18px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $gray-lightest;
    }
  }
}
