.product-card__title {
  margin-bottom: 5px;

  @media (max-width: $screen-xl) {
    font-size: 22px;
    line-height: 30px;
  }
}

.product-card__content {
  @media (min-width: $screen-xl) {
    max-width: 750px;
  }
}

.product-card__table {
  margin-bottom: 20px;
  font-size: 12px;

  @media (min-width: $screen-xl) {
    max-width: 457px;
  }
}

.product-card__table td:first-child {
  max-width: 60px;
}

.product-card__title-desc {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: $black;
  margin-bottom: 19px;

  @media (min-width: $screen-xl) {
    text-align: left;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 18px;
  }
}

.product-card__desc {
  color: $black;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 23px;

  @media (min-width: $screen-xl) {
    font-size: 14px;
    line-height: 23px;
  }

  &--clump {
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 213px;

    @media (min-width: $screen-xl) {
      -webkit-line-clamp: 5;
      max-height: 117px;
    }
  }

}

.product-card__quantity-text {
  display: inline-block;
  margin-right: 2px;

  font-weight: 700;

  @media (min-width: $screen-xl) {
    padding-left: 13px;
  }
}

.product-card__quantity-choice {
  @media (max-width: $screen-xl - 1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.product-card__quantity-group {
  margin-bottom: 5px;
  font-size: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-card__quantity-info {
  text-align: center;
  width: 100%;

  @media (min-width: $screen-xl) {
    text-align: left;
    margin-right: 20px;
    margin-top: 6px;
    width: auto;
  }
}

.product-card__quantity {
  display: flex;
  margin-bottom: 20px;
}

.product-card__price-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 23px;
}

.product-card__price {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3A426D;

  font-family: $font-family-2;

  &--old {
    margin-left: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -7px;
      right: -3px;
      height: 2px;
      margin-top: -1px;
      background-color: #ff2741;
    }
  }
}

.product-card__price sub {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  bottom: 0;
  font-family: $font-family;
}

.product-card__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: $screen-xl) {
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.product-card__slider {
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: $screen-xl) {
    display: flex;
    margin-bottom: 0;
  }
}

.product-card__slide {
  width: 100%;
  height: 100%;
}

.product-card__slide .swiper-pagination {
  position: static;
}

.product-card__slide .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: #95AABE;
  opacity: 0.3;
  box-shadow: none;
}

.product-card__slide .swiper-pagination-bullet-active {
  background: #95AABE;
  opacity: 0.9;
}

.product-card__img {
  position: relative;
  display: block;
  border-radius: 5px;
  overflow: hidden;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  &--height {
    height: 312px;

    @media (min-width: $screen-xl) {
      height: 460px;
    }
  }

  &--thumb {
    width: 68px;
    height: 68px;
    transition: $time;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(1px 2px 7px rgba(204, 220, 236, 0.5));
    }
  }

  &--play {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 51%;
      left: 55%;
      transform: translate(-50%,-50%);
      width: 39px;
      height: 39px;
      background: url("../img/icon/icon-play.svg") no-repeat center / contain;
    }
  }
}

.product-card__img--height.product-card__img--play::after {
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
}

.product-card__blur {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  filter: blur(75px);
  z-index: -1;
}

.product-card__slider-mb {
  margin-bottom: 10px;
}

.product-card__mb {
  margin-bottom: 45px;

  @media (min-width: $screen-xl) {
    margin-bottom: 15px;
  }
}

.product-card__desc-wrap {
  margin-bottom: 50px;
  max-width: 754px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 70px;
  }
}

.product-card__char {
  max-width: 385px;
  overflow: hidden;

  &.active {
    max-height: 219px;
  }
}

.product-card__art {
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 15px;

  @media (min-width: $screen-xl) {
    margin-bottom: 6px;
  }
}

.product-card__btns {
  margin-bottom: 6px;

  @media (min-width: $screen-xl) {
    margin-bottom: 50px;
  }
}

.product-card__btns .btn {
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $screen-xl) {
    width: auto;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.product-card__choice {
  margin-bottom: 11px;

  @media (min-width: $screen-xl) {
    max-width: 264px;
  }
}

.product-card__drop {
  display: block;
}

.product-card__help {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 6px;
}

.product-card__drop .btn {
  text-align: left;
  width: 100%;
  font-weight: 400;
  padding: 7.5px 30px 7.5px 16px;
  border-radius: 0;
  border: 1px solid #CCDCEC;
  background-color: transparent;
}

.product-card__thumb {
  display: none;

  @media (min-width: $screen-xl) {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    margin-bottom: -20px;
    height: 509px;
    //min-height: 100%;

    .gallery-thumbs {
      height: 100%;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}

.product-card__card {
  margin-bottom: 36px;

  @media (min-width: $screen-xl) {
    margin-bottom: 70px;
  }
}

.product-card__mb .swiper-button-circle {
  @media (min-width: $screen-xl) {
    top: 40%;
  }
}
