mixin page-header(mod)
  header.page-header(class=`${!mod ? 'page-header--static' : ''}`)
    .page-header__top
      .container
        .page-header__row.page-header__row--sb.page-header__row--ai-c
          +burger('Открыте меню').page-header__menu.js-menu.d-xl-none
          .page-header__logo
            +logo('/')
              img(src='img/icon/logo.svg', alt='Продажа упаковочных материалов и оборудования от производителя', width='129', height='46')
              p Продажа упаковочных материалов и оборудования от производителя
          .page-header__info
            a.icon-btn.d-xl-none(href="#menu-phone" data-fancybox="")
              svg(width="22" height="22" fill="none")
                use(xlink:href="img/symbols.svg#icon-phone")
            .d-none.d-xl-block
              .page-header__compare
                +phone().page-header__phone
    .page-header__bottom.d-none.d-xl-block
      .container
        .page-header__rel
          .page-header__row.page-header__row--sb.page-header__row--ai-c
            nav.navigation
              +burger('Показать каталог').navigation__burger-sub.js-open-catalog
              ul.navigation__list
                li.navigation__item
                  a.navigation__link(href="catalog.html") Каталог
                li.navigation__item
                  a.navigation__link(href="template-page.html") О компании
                li.navigation__item
                  a.navigation__link(href="template-page.html") Доставка
                li.navigation__item
                  a.navigation__link(href="news.html") Партнерам
                li.navigation__item
                  a.navigation__link(href="template-page.html") Новости
                li.navigation__item
                  a.navigation__link(href="template-page.html") Контакты
            a.btn.btn--white-b(href="#modal-cb" data-fancybox="") Заказать звонок
          .catalog
            .catalog__inner
              ul.catalog__list
                li.catalog__item
                  a.catalog__link(href="#") Полипропиленовая продукция
                  ul.catalog__list
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                li.catalog__item
                  a.catalog__link(href="#") Полипропиленовая продукция
                  ul.catalog__list
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                li.catalog__item
                  a.catalog__link(href="#") Оборудование
                  ul.catalog__list
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                li.catalog__item
                  a.catalog__link(href="#") Сопутствующие товары
                  ul.catalog__list
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                    li.catalog__item
                      a.catalog__link(href="#") Название категории
                      ul.catalog__list
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
                        li.catalog__item
                          a.catalog__link(href="#") Название товара
