// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {

  $block-name:                &;
  // #{$block-name}__element

  padding: 12px 20px;
  margin-left: -15px;
  margin-right: -15px;
  list-style: none;
  margin-bottom: 25px;
  color: $text-color;
  font-size: 14px;
  line-height: 23px;
  background-color: #F4F7FA;

  a {
    color: #95AABE;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-main;
      text-decoration: none;
    }

    @media (min-width: $screen-xl) {
      color: $text-color;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0;
    white-space: nowrap;

    &:not(:nth-last-child(2)) {
      display: none;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border-left: 2.5px solid #95AABE;
      border-bottom: 2.5px solid #95AABE;
      transform: rotate(45deg);
    }

    @media (max-width: $screen-xl - 1) {
      font-size: 12px;
    }

    @media (min-width: $screen-xl) {
      &::before {
        display: none;
      }

      &:not(:last-child):after {
        content: '–';
        display: inline-block;
        margin-left: 0;
        color: $gray;
      }

      &:not(:nth-last-child(2)) {
        display: inline-block;
      }
    }
  }

  @media (min-width: $screen-xl) {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    background-color: transparent;
  }
}
