mixin main-bunner()
  .main-banner(style="background-image: url('img/decor/main-banner-1.jpg')")
    .container
      section.main-banner__content
        h2.title-h.title-h--big.main-banner__title Производство и продажа упаковочных материалов
        .main-banner__desc
          ul
            li Просчет сметы — 30 минут
            li Оформление заказа — 10 минут
            li Доставка — день в день
        a.btn.btn--main.btn--s-middle.main-banner__btn(href="#") Подробнее
