extends pug/layout.pug

block meta
  title Категории товаров
block header
  +page-header()
block content
  main
    .content.content--overflow
      .container
        +breadcrumbs()
          +breadcrumbs-item('Главная', 'index.html')
          +breadcrumbs-item('Каталог')
        header.content__header
          h1.title-h.title-h--big.title-h--m-big Каталог товаров
          p.content__found 42 Товара найдено
        .content__row.content__row--xl-reverse
          .content__col.content__col--xl-3
            .sidebar.sidebar--top
              +category-link('Категории товаров')
                +category-link-item({text: 'Все товары', nameClass: 'category-link__link--active'})
                +category-link-item({text: 'Полипропиленовая продукция'})
                +category-link-item({text: 'Полиэтиленовая продукция'})
                +category-link-item({text: 'Оборудование'})
                +category-link-item({text: 'Сопутствующие товары'})
          .content__col.content__col--xl-9
            .filter-group
              .content__row.content__row--xs-6.content__row--col-mb
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="advice")
                  +book({
                      img: '1',
                      title: 'Мешки полипропеленовые',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="new")
                  +book({
                      img: '2',
                      title: 'Ленторазмотчик для ПП ленты',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="advice")
                  +book({
                      img: '3',
                      title: 'Зажимное устройство укороченное',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="sale")
                  +book({
                      img: '4',
                      title: 'Перчатки рабочие',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="advice")
                  +book({
                      img: '1',
                      title: 'Мешки полипропеленовые',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="new")
                  +book({
                      img: '2',
                      title: 'Ленторазмотчик для ПП ленты',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="advice")
                  +book({
                      img: '3',
                      title: 'Зажимное устройство укороченное',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="sale")
                  +book({
                      img: '4',
                      title: 'Перчатки рабочие',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="advice")
                  +book({
                      img: '1',
                      title: 'Мешки полипропеленовые',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="new")
                  +book({
                      img: '2',
                      title: 'Ленторазмотчик для ПП ленты',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="advice")
                  +book({
                      img: '3',
                      title: 'Зажимное устройство укороченное',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
                .content__col.content__col--6.content__col--md-4.content__col--xl-4(data-filter="sale")
                  +book({
                      img: '4',
                      title: 'Перчатки рабочие',
                      price: '2 800',
                      priceOld: '3 200',
                      btns: true,
                      desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                  })
              button.btn.btn--lighten.btn--s-middle.content__btn-more.js-show-more Показать еще
block footer
  +page-footer()
