extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  main
    .content.content--overflow
      .container
        +breadcrumbs()
          +breadcrumbs-item('Главная', 'index.html')
          +breadcrumbs-item('Каталог', 'catalog.html')
          +breadcrumbs-item('Полипропиленовая продукция', 'catalog.html')
          +breadcrumbs-item('Биг-бэги (Мягкие контейнера)')
        article.product-card
          .content__row.product-card__card
            .content__col.content__col--xl-6
              .product-card__slider
                .product-card__thumb
                  button.swiper-button-squar.swiper-button-squar--prev.js-thumb-prev(type="button")
                  .swiper-container.gallery-thumbs
                    .swiper-wrapper
                      .swiper-slide
                        .product-card__img.product-card__img--thumb
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        a.product-card__img.product-card__img--thumb.product-card__img--play(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="")
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        .product-card__img.product-card__img--thumb
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        .product-card__img.product-card__img--thumb
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        .product-card__img.product-card__img--thumb
                          img(src="img/content/product-1.png")

                  button.swiper-button-squar.swiper-button-squar--next.js-thumb-next(type="button")
                .product-card__slide
                  .swiper-container.gallery-top
                    .swiper-wrapper
                      .swiper-slide
                        .product-card__img.product-card__img--height
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        a.product-card__img.product-card__img--height.product-card__img--play(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="")
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        .product-card__img.product-card__img--height
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        .product-card__img.product-card__img--height
                          img(src="img/content/product-1.png")
                      .swiper-slide
                        .product-card__img.product-card__img--height
                          img(src="img/content/product-1.png")

                    .swiper-pagination.d-xl-none
            .content__col.content__col--xl-6
              .product-card__content
                h1.title-h.title-h--black.product-card__title Биг-бэги (Мягкие контейнера)
                p.product-card__art Артикул: 237100
                strong.product-card__price #[sub от] 990, 00 ₽
                .product-card__btns
                  a.btn.btn--main.btn--s-middle(href="#modal-order", data-fancybox="") Заказать
                  a.btn.btn--main-b.btn--s-middle(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox="") Обзор товара
                .product-card__choice
                  span.product-card__help Количество строп
                  +dropdown('2-х стропные', 'drop-1', 'left').product-card__drop
                    .menu
                      span.menu__item
                        a.menu__link.js-text(href='') 1-х стропные
                      span.menu__item
                        a.menu__link.js-text(href='') 2-х стропные
                      span.menu__item
                        a.menu__link.js-text(href='') 3-х стропные
                .product-card__choice
                  span.product-card__help Верхняя крышка
                  +dropdown('Без крышки', 'drop-2', 'left').product-card__drop
                    .menu
                      span.menu__item
                        a.menu__link.js-text(href='') Без крышки
                      span.menu__item
                        a.menu__link.js-text(href='') С крышкой
                .product-card__choice
                  span.product-card__help Дно
                  +dropdown('Плоское дно', 'drop-3', 'left').product-card__drop
                    .menu
                      span.menu__item
                        a.menu__link.js-text(href='') Плоское дно
                      span.menu__item
                        a.menu__link.js-text(href='') Плотное дно


          .card-tab
            ul.card-tab__list
              li.card-tab__item
                a.card-tab__link.card-tab__link--big.card-tab__link--black(href="#") Разновидности
          .swiper-container-relative.filter-group__slider.product-card__mb
            .swiper-container.js-category.filter-group__slider-swipe.filter-group__slider-swipe--after
              .swiper-wrapper
                .swiper-slide.swiper-slide-width.swiper-slide-height()
                  +category-variety({
                      img: 1,
                      title: 'Мешки полипропеленовые'
                  })
                .swiper-slide.swiper-slide-width.swiper-slide-height()
                  +category-variety({
                      img: 2,
                      title: 'Биг-бэги <br>(Мягкие контейнера)'
                  })
                .swiper-slide.swiper-slide-width.swiper-slide-height()
                  +category-variety({
                      img: 3,
                      title: 'Сетка <br>сеновязальная'
                  })
                .swiper-slide.swiper-slide-width.swiper-slide-height()
                  +category-variety({
                      img: 4,
                      title: 'Шпагат <br>сеновязальный'
                  })
                .swiper-slide.swiper-slide-width.swiper-slide-height()
                  +category-variety({
                      img: 5,
                      title: 'Нить полипропиленовая'
                  })
                .swiper-slide.swiper-slide-width.swiper-slide-height()
                  +category-variety({
                      img: 6,
                      title: 'Лента полипропиленовая'
                  })
                .swiper-slide.swiper-slide-width.swiper-slide-height.swiper-slide-height()
                  +category-variety({
                      img: 7,
                      title: 'Мешки полиэтиленовые'
                  })
            button.swiper-button-circle.swiper-button-circle--prev(type="button" id="cat-prev")
              svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
            button.swiper-button-circle.swiper-button-circle--next(type="button" id="cat-next")
              svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
          .card-tab.d-none.d-xl-block
            ul.card-tab__list
              li.card-tab__item
                a.card-tab__link.active.js-scroll(href="#desc") Описание
              li.card-tab__item
                a.card-tab__link.js-scroll(href="#char") Характеристики
              li.card-tab__item
                a.card-tab__link.js-scroll(href="#related") Сопутствующие товары
              li.card-tab__item
                a.card-tab__link.js-scroll(href="#similar") Похожие товары
              li.card-tab__item
                a.card-tab__link.js-scroll(href="#sert") Сертификаты
          .product-card__desc-wrap(id="desc")
            h3.product-card__title-desc Общее описание
            .product-card__desc.product-card__desc--clump
              p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Заголовок записи настолько очевидна, что сложившаяся структура организации позволяет оценить значение новых предложений. Таким образом сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития
              p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Заголовок записи настолько очевидна, что сложившаяся структура организации позволяет оценить значение новых предложений. Таким образом сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития
              p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Заголовок записи настолько очевидна, что сложившаяся структура организации позволяет оценить значение новых предложений. Таким образом сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития
            button.btn.btn--more.js-reed-more Показать больше
          .product-card__desc-wrap(id="char")
            h3.product-card__title-desc Общие характеристики
            .product-card__desc
              ul.table-char.product-card__char.active
                li.table-char__item
                  span Характеристика 1
                  span Показатель 1
                li.table-char__item
                  span Характеристика 2
                  span Показатель 2
                li.table-char__item
                  span Характеристика 3
                  span Показатель 3
                li.table-char__item
                  span Характеристика 4
                  span Показатель 4
                li.table-char__item
                  span Характеристика 5
                  span Показатель 5
                li.table-char__item
                  span Характеристика 6
                  span Показатель 6
                li.table-char__item
                  span Характеристика 7
                  span Показатель 7
                li.table-char__item
                  span Характеристика 8
                  span Показатель 8
                li.table-char__item
                  span Характеристика 9
                  span Показатель 9
                li.table-char__item
                  span Характеристика 10
                  span Показатель 10
              button.btn.btn--more.js-char-more Показать больше
    .content.content--overflow.content--xs-pb(id="related")
      .container
        header.content__header
          h2.title-h.content__title Сопутствующие товары
        .swiper-container-relative
          .swiper-container.swiper-container--xs-visible.js-related
            .swiper-wrapper
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
          button.swiper-button-circle.swiper-button-circle--prev(type="button" id="related-prev")
            svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
          button.swiper-button-circle.swiper-button-circle--next(type="button" id="related-next")
            svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
    .content.content--overflow.content--xs-pb(id="similar")
      .container
        header.content__header
          h2.title-h.content__title Похожие товары
        .swiper-container-relative
          .swiper-container.js-similar.swiper-container--xs-visible
            .swiper-wrapper
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
              .swiper-slide.swiper-slide-related
                +book({
                    img: '1',
                    title: 'Мешки полипропеленовые',
                    price: '2 800',
                    priceOld: '3 200',
                    btns: true,
                    desc: 'Книга поможет углубить знания в области физиологии и анатомии, прежде всего макроскопической; научит «читать» и анализировать изображения, сделанные с помощью современных методов визуализации — рентгенографии, компьютерной и магнитно-резонансной томографии;'
                })
          button.swiper-button-circle.swiper-button-circle--prev(type="button" id="similar-prev")
            svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
          button.swiper-button-circle.swiper-button-circle--next(type="button" id="similar-next")
            svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.3303 7.03033C13.6232 6.73744 13.6232 6.26256 13.3303 5.96967L8.55737 1.1967C8.26448 0.903806 7.78961 0.903806 7.49671 1.1967C7.20382 1.48959 7.20382 1.96447 7.49671 2.25736L11.7394 6.5L7.49671 10.7426C7.20382 11.0355 7.20382 11.5104 7.49671 11.8033C7.78961 12.0962 8.26448 12.0962 8.55737 11.8033L13.3303 7.03033ZM0.200012 7.25H12.8V5.75H0.200012V7.25Z" fill="#3A426D")
    +content-sert().content--xs-pb.content--overflow(id="sert")
block footer
  +page-footer()
  +modal('modal-char', 'Характеристики товара').modal--width-middle
    .baron.modal__baron
      .baron__rel
        .baron__track
          .baron__free
            .baron__bar
        .baron__scroller
          .modal__body
            .modal__desc
              h3 Здесь подставляется название товара
              ul.table-char
                li.table-char__item
                  span Характеристика 1
                  span Показатель 1
                li.table-char__item
                  span Характеристика 2
                  span Показатель 2
                li.table-char__item
                  span Характеристика 3
                  span Показатель 3
                li.table-char__item
                  span Характеристика 4
                  span Показатель 4
                li.table-char__item
                  span Характеристика 5
                  span Показатель 5
                li.table-char__item
                  span Характеристика 6
                  span Показатель 6
                li.table-char__item
                  span Характеристика 7
                  span Показатель 7
                li.table-char__item
                  span Характеристика 8
                  span Показатель 8
                li.table-char__item
                  span Характеристика 9
                  span Показатель 9
                li.table-char__item
                  span Характеристика 10
                  span Показатель 10
            .modal__desc
              h3 Описание товара
              p Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что сложившаяся структура организации играет важную роль в формировании форм развития. Разнообразный и богатый опыт консультация с широким активом требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Таким образом консультация с широким активом требуют определения и уточнения систем массового участия.
