extends pug/layout.pug

block meta
  title Новости
block header
  +page-header(false)
block content
  main
    .content.content--news
      .container
        +breadcrumbs()
          +breadcrumbs-item('Главная', 'index.html')
          +breadcrumbs-item('Новости')
        header.content__header
          h1.title-h.title-h--big.title-h--m-big Новости
          p.content__found 67 Записей найдено
        .content__row.content__row--xl-reverse
          .content__col.content__col--xl-4
            .sidebar
              +category-link('Категории')
                +category-link-item({text: 'Все записи', nameClass: 'category-link__link--active'})
                +category-link-item({text: 'Новости'})
                +category-link-item({text: 'Вакансии'})
                +category-link-item({text: 'Обзоры'})
          .content__col.content__col--xl-8
            .content__row.content__row--col-mb
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({
                    img: 4,
                    title: 'Уважаемые покупатели!\n',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({
                    img: 4,
                    title: 'Уважаемые покупатели!\n',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
              .content__col.content__col--sm-6
                +preview({

                    title: 'Заголовок записи',
                    data: 'новости',
                })
            button.btn.btn--lighten.btn--s-middle.content__btn-more Показать еще

block footer
  +page-footer()

