extends pug/layout.pug

block meta
  title Корзина
block header
  +page-header(false)
block content
  main
    .content
      .container
        +breadcrumbs().d-xl-none
          +breadcrumbs-item('Главная', 'index.html')
          +breadcrumbs-item('Спасибо за заявку!')
        h1.title-h.title-h--big.content__title Спасибо за заявку!
        p В ближайшее время менеджер свяжется с вами
block footer
  +page-footer()

