.catalog {
  position: absolute;
  top: 39px;
  left: 0;
  padding-top: 30px;

  transform: translateY(-10px);
  transition: $time;
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  &.active {
    transform: translateY(-0px);
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }
}

.catalog__inner {

  //padding: 51px 52px 58px;
  background: #F4F5F9;
  border-radius: 5px;
}

.catalog__list {
  @include ul-none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 263px;
  background: #F4F7FA;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.catalog__item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.catalog__link {
  position: relative;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 10px 13px;

  font-size: 14px;
  line-height: 19px;
  color: #181717;

  &:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 7px;
    height: 7px;
    border-right: 2px solid $black;
    border-bottom: 2px solid $black;
    transition: $time;
  }

  &:hover {
    background: #0054D7;
    color: #FBD826;

    &:after {
      border-color: $white;
    }
  }
}

.catalog__item.active > .catalog__link {
  background: #0054D7;
  color: #FBD826;

  &:after {
    border-color: $white;
  }
}

.catalog__item .catalog__list {
  position: absolute;
  left: calc(100% - 15px);
  top: -25px;
  display: none;
}

.catalog__item:hover > .catalog__list {
  display: block;
}
