mixin mb-product({title, textLink, link, tag})
  .mb-product
    header.mb-product__header
      h3.mb-product__title= title
    if (tag === 'a')
      a.mb-product__title(href= link, data-fancybox="")= textLink
    else
      h3.mb-product__title.js-collapse()= textLink
      block
