mixin mb-product()
  .mb-product
    h3.mb-product__title.js-collapse Каталог
    .mb-product__wrap
      h3.mb-product__title.js-collapse Все для пряжи
      .mb-product__wrap
        .mb-product__subitem
          h4.mb-product__title.js-collapse Пряжа
          ul.mb-product__list
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Alize (Ализе)
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Magic
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Nako
        .mb-product__subitem
          h4.mb-product__title.js-collapse Журналы для вязания
          ul.mb-product__list
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Alize (Ализе)
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Magic
            li.mb-product__item
      h3.mb-product__title.js-collapse Швейная фурнитура
      .mb-product__wrap
        .mb-product__subitem
          h4.mb-product__title.js-collapse Иглы и булавки
          ul.mb-product__list
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Ручные иглы
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Для бытовой машинки
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Для промышленной машинки
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Булавки
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Игольницы и наборы
        .mb-product__subitem
          h4.mb-product__title.js-collapse Материалы
          ul.mb-product__list
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Alize (Ализе)
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Magic
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Nako
      h3.mb-product__title.js-collapse Товары для рукоделия
      .mb-product__wrap
        .mb-product__subitem
          h4.mb-product__title.js-collapse Алмазная мозаика
          ul.mb-product__list
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Полная выкладка
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Частичная выкладка
        .mb-product__subitem
          h4.mb-product__title.js-collapse Раскройки  по номерам
          ul.mb-product__list
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Alize (Ализе)
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Magic
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Nako
        .mb-product__subitem
          h4.mb-product__title.js-collapse Схемы для вышивки
          ul.mb-product__list
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Alize (Ализе)
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Magic
            li.mb-product__item
              a.mb-product__link(href="catalog.html") Nako
